<div class="container mt-5">
    <div class="row mt-5 pt-5">
      <div  class="col text-left">
          <button class="btn btn-info"  routerLink="/home">Back</button>
      </div>
      <div class="col text-right">
          <button class="btn btn-success mr-2" (click)="showEditTaskModal()">Edit Task</button>
          <button class="btn btn-danger" data-toggle="modal" (click)="deleteTask(template)">Delete Task</button>
        </div>
      </div>


  <div class="row">

    <div class="col-sm-8 offset-sm-2">
        <div class="table-responsive panel mt-4" *ngIf="task" >
            <table class="table">
                <tbody>
                  <tr>
                    <td class="text-success"> Task ID</td>
                    <td>{{task.id}}</td>
                  </tr>
                  <tr>
                    <td class="text-success">Task Name</td>
                    <td>{{task.name}}</td>
                  </tr>
                  <tr>
                    <td class="text-success">Task Description</td>
                    <td>{{task.description}}</td>
                  </tr>
                  <tr>
                    <td class="text-success">Task Created</td>
                    <td>{{task.created}}</td>
                  </tr>
                </tbody>
            </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete records?</p>
    <button type="button" class="btn btn-success" (click)="deleteTasksConfirm()" >Yes</button>
    <button type="button" class="btn btn-default" (click)="declineDelete()" >No</button>
  </div>
</ng-template>
