<div class="container mt-5">
    <div class="row mt-5 pt-5">
      <div  class="col text-left">
          <button class="btn btn-info"  routerLink="/home">Back</button>
      </div>
      <div class="col text-right">
          <button class="btn btn-success mr-2" data-toggle="modal" data-target="#editTaskModal">Edit Task</button>
          <button class="btn btn-danger" data-toggle="modal" (click)="deleteTask()">Delete Task</button>
        </div>
      </div>


  <div class="row">

    <div class="col-sm-8 offset-sm-2">
        <div class="table-responsive panel mt-4" *ngIf="task" >
            <table class="table">
                <tbody>
                  <tr>
                    <td class="text-success"> Task ID</td>
                    <td>{{task.id}}</td>
                  </tr>
                  <tr>
                    <td class="text-success">Task Name</td>
                    <td>{{task.name}}</td>
                  </tr>
                  <tr>
                    <td class="text-success">Task Description</td>
                    <td>{{task.description}}</td>
                  </tr>
                  <tr>
                    <td class="text-success">Task Created</td>
                    <td>{{task.created}}</td>
                  </tr>
                </tbody>
            </table>
    </div>
  </div>
</div>

<div class="modal fade" id="editTaskModal" *ngIf="task" tabindex="-1" role="dialog" aria-labelledby="editTaskModal" aria-hidden="true" >
  <div class="modal-dialog" role="document">
      <form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="name">Task Name</label>
            <input [(ngModel)]="task.name" type="text" name="name" class="form-control" id="name" >
          </div>
          <div class="form-group mt-2">
              <label for="description">Task Description</label>
              <textarea [(ngModel)]="task.description" name="description" class="form-control" id="description" > </textarea>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" (click)="updateTask()">Update</button>
      </div>
    </div>
  </form>
  </div>
</div>
