<div class="container mt-5">

  <div class="row mt-5 pt-5">
    <div class="col text-right">
      <button class="btn btn-success mr-2" (click)="showAddTaskModal()">Add Task</button>
      <button class="btn btn-danger" *ngIf="checkedIds.length > 0" (click)="deleteTasks(template)">Delete Selected Task</button>
    </div>
  </div>

  <div class="row mt-5 pt-5">
      <div class="col">
          <input [(ngModel)]="searchText" type="text" name="search" class="form-control" placeholder="Search" >
      </div>
    </div>


  <table class="table table-hover mt-5">
    <thead class="thead-dark">
      <tr>
        <th style="width: 5px;"></th>
        <th (click)="sort('id')">ID
            <span class="fas sort-icon" *ngIf="key =='id'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
        </th>
        <th (click)="sort('name')">Name
            <span class="fas sort-icon" *ngIf="key =='name'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
        </th>
        <th>Description</th>
        <th (click)="sort('created')">Created
            <span class="fas sort-icon" *ngIf="key =='created'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks | orderBy: key : reverse | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>
            <div class="form-group form-check">
              <input type="checkbox" (change)="checkTask($event)" value="{{task.id}}" class="form-check-input">
            </div>
        </td>
        <td scope="row">
            {{ task.id }}
        </td>
        <td> {{ task.name }}</td>
        <td> {{ task.description }}</td>
        <td> {{ task.created }}</td>
        <td>
            <button class="btn btn-warning mr-2" (click)="showEditTaskModal(task)"> Edit </button>
          <button class="btn btn-primary" routerLink="/task/{{task.id}}"> Show details</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row mt-5 ">
      <div class="col text-center" *ngIf="this.tasks && this.tasks.length > 5">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete selected records?</p>
    <button type="button" class="btn btn-success" (click)="deleteTasksConfirm()" >Yes</button>
    <button type="button" class="btn btn-default" (click)="declineDelete()" >No</button>
  </div>
</ng-template>
